[user]
    name = yangbo
    email = yangbo@admaster.com.cn
    signingkey = 0x42E03E35EB0FFDFF
[alias]  
    co = checkout  
    ci = commit
    st = status  
    br = branch  
    ol = log --pretty=oneline --since='2 days ago'  
    onelog = log -p -1  
    lp = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lg = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    la = log --all --color --graph --decorate=full --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date-order
[color]  
    ui = auto  
[diff]
    tool = vimdiff
	algorithm = patience
[merge]
    tool = vimdiff
[push]
	default = simple
[submodule]
	fetchJobs = 10
[core]
    pager = diff-highlight | less
