set completion-ignore-case on
set completion-prefix-display-length 2
#set colored-completion-prefix On

# alternate mappings for "page up" and "page down" to search the history
"\e[A": history-search-backward
"\e[B": history-search-forward

"\ez": 'cd -\015'
"\es": "\C-asudo \C-e"


#Control-j: menu-complete
#Control-k: menu-complete-backward
