! vim: fdm=marker

!   themes {{{
!Black 
URxvt.color0: #000000 
URxvt.color8: #555753 
!Red 
URxvt.color1: #CC0000 
URxvt.color9: #EF2929 
!Green 
URxvt.color2: #4E9A06 
URxvt.color10: #8AE234 
!Yellow 
URxvt.color3: #C4A000 
URxvt.color11: #FCE94F 
!Blue 
URxvt.color4: #3465A4 
URxvt.color12: #729FCF 
!Magenta 
URxvt.color5: #75507B 
URxvt.color13: #AD7FA8 
!Cyan 
URxvt.color6: #06989A 
URxvt.color14: #34E2E2 
!White 
URxvt.color7: #D3D7CF 
URxvt.color15: #EEEEEC 
! }}}

Xft.dpi:                96 
Xft.hinting:            1
Xft.hintstyle:          hintfull
Xft.antialias:          1
Xft.rgba:               rgb
!urxvt setting
URxvt.geometry:     85x30+60+80

URxvt.scrollBar:    False
URxvt.scrollstyle:  next
! Use shift+pageup/down to scroll in screen
URxvt.secondaryScroll:  True
URxvt.scrollTtyOutput: False
URxvt.scrollTtyKeypress: True
URxvt.scrollWithBuffer: True

URxvt.foreground: #8ae234
URxvt.background: rgba:0000/0000/0000/cccc
URxvt.depth: 32

URxvt.cursorBlink:      True
urxvt*cursorUnderline:  true
URxvt.cursorColor:  White
URxvt.colorBD:      White
URxvt*underlineURLs:    true

URxvt.saveLines:    1500
!allow double click to select URL
URxvt*cutchars:         "`\"()';@?=,*<>[]{|}"
!this makes urxvt to start faster??
URxvt.preeditType:  OverTheSpot
!urgent notification
!URxvt.urgentOnBell:     True

!URxvt.keysym.M-v:       command:paste
URxvt.keysym.Delete:       \033[3~
URxvt*backspaceky:      ^H

URxvt.font:xft:Terminus-10,xft:WenQuanYi Bitmap Song-10 
URxvt.boldFont:xft:Terminus-10:Bold,xft:WenQuanYi Bitmap Song-10:Bold 

